.main__article {
  grid-column: 1/3;
}

.main__body {
  margin-top: 1rem;
}

.main__body>* {
  margin: auto;
}

.aside__title {
  /* margin: 0; */
  margin-bottom: .5rem;
}

.article__list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.article__image {
  content: '';
  display: inline-block;
  /* background-size: auto; */
  /* background-size: auto 100%; */
  background-position: center;
  /* width: 5rem; */
  /* width: max-content; */
}

.article__image--pc {
  background-image: url(assets/images/image-retro-pcs.jpg);
}

.article__image--laptop {
  background-image: url(assets/images/image-top-laptops.jpg);
}

.article__image--gaming {
  background-image: url(assets/images/image-gaming-growth.jpg);
}

.article__content {
  /* grid-column: 2/4; */
}

.article__content>* {
  /* margin: auto; */
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}