@media (min-width:992px) {
  .grid.grid--main {
    grid-template-columns: 2fr 1fr;
  }
}

.grid.grid--list {
  grid-template-columns: 1fr 2fr;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}